@charset "UTF-8";

:root {
    --global-back-color-field: 255, 255, 255;
    --global-back-color-dark: 0, 5, 10;
    --global-back-color-light: 245, 250, 255;
    --global-border-color-field: 220, 225, 230;
    --global-text-color-active: 0, 0, 0;
    --global-text-color-dark: 245, 250, 255;
    --global-text-color-inactive: 120, 125, 130;
    --global-text-color-inverted: 255, 255, 255;
    --palette-blue: 80, 160, 240;
    --palette-gray: 120, 125, 130;
}

h1, h2, h3, h4, h5, h6 {
    font: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
}

input {
    appearance: none;
    background-color: unset;
    border: none;
    border-image: none;
    color: unset;
    font: unset;
    outline: none;
    padding: unset;
}

ol, ul {
    list-style-type: none;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
}

body {
    width: 100%;
    min-height: 100%;
    margin: unset;
    perspective: 50vw;
    position: absolute;
}

body > .background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
}

body > .background > .cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.25rem);
    background-color: rgba(20, 25, 30, 80%);
    position: absolute;
    z-index: 1;
}

body > .background > .video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}

body > .form {
    top: 50%;
    left: 50%;
    min-width: 25rem;
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 500ms;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    z-index: 1;
}

body > .form.login.aside {
    transform: translate(calc(-50% + 2.5rem), -50%) rotateY(-10deg) scale(90%);
    z-index: 0;
}

body > .form.register {
}

body > .form.register.aside {
    opacity: 0;
    pointer-events: none;
    transform: translate(calc(-50% - 2.5rem), -50%) rotateY(10deg) scale(90%);
    z-index: 0;
}

body > .form > .cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--global-back-color-dark), 90%);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition-duration: 150ms;
    transition-property: opacity;
    transition-timing-function: linear;
    z-index: 1;
}

body > .form > .cover.visible {
    opacity: 1;
    pointer-events: all;
}

body > .form > .title {
    background-color: rgb(var(--global-back-color-dark));
    color: rgb(var(--global-text-color-dark));
    cursor: default;
    font-size: 1.75rem;
    font-weight: lighter;
    padding: 1.125rem 2.25rem;
    user-select: none;
    -webkit-user-select: none;
}

body > .form > .input-container {
    align-content: stretch;
    background-color: rgb(var(--global-back-color-light));
    color: rgb(0, 5, 10);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.75rem 2.25rem;
}

body > .form > .input-container > .warning {
    max-height: 0;
    color: rgb(255, 80, 40);
    font-size: 0.9rem;
    padding: 0.5rem 0;

    overflow: hidden;
    transition-duration: 250ms;
    transition-property: max-height;
    transition-timing-function: ease;
}

body > .form > .input-container > .warning.visible {
    max-height: 2rem;
}

body > .form > .input-container > :not(:last-child) {
    margin-bottom: 1rem;
}

body > .form > .input-container > .label {
    align-content: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

body > .form > .input-container > .label > .text {
    color: rgb(var(--global-text-color-inactive));
    font-size: 0.75rem;
    margin-bottom: 0.375rem;
}

body > .form > .input-container > .label > .input {
    background-color: rgb(var(--global-back-color-field));
    border: 0.0625rem solid rgb(var(--global-border-color-field));
    border-radius: 0.25rem;
    color: rgb(var(--global-text-color-inactive));
    padding: 0.7rem 1rem 0.8rem 2.625rem;
    transition-duration: 250ms;
    transition-property: border, color;
    transition-timing-function: ease;
}

body > .form > .input-container > .label > .input:focus {
    border: 0.0625rem solid rgb(var(--palette-blue));
    color: rgb(var(--global-text-color-active));
}

body > .form > .input-container > .label > .input:focus + .icon {
    color: rgb(var(--global-text-color-active));
}

body > .form > .input-container > .label > .icon {
    bottom: 1rem;
    left: 1rem;
    color: rgb(var(--global-text-color-inactive));
    pointer-events: none;
    position: absolute;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: ease;
}

body > .form > .input-container > .button {
    background-color: rgb(var(--palette-gray));
    border-radius: 0.25rem;
    color: rgb(var(--global-text-color-inverted));
    cursor: pointer;
    padding: 0.625rem 1rem;
}

body > .form > .input-container > .button.blue {
    background-color: rgb(var(--palette-blue));
}

body > .form > .input-container > .button:hover {
    filter: brightness(110%);
}

body > .form > .input-container > .button:active {
    filter: brightness(90%);
}

body > .form > .input-container > .menu {
    font-size: 0.8rem;
}

body > .form > .input-container > .menu > .item + .item {
    margin-top: 0.25rem;
}

body > .form > .input-container > .menu > .item > .text {
    color: rgb(var(--global-text-color-inactive));
}

body > .form > .input-container > .menu > .item > .link {
    color: rgb(var(--palette-blue));
    text-decoration: none;
}

@media screen and (max-width: 40rem) {
    body > .form {
        width: 95vw;
    }
}